################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/obj
/Api.Products/bin/Debug/net5.0
/Api.Products/obj
/ApiGateway/bin/Debug/net5.0
/ApiGateway/obj
/IdentityServer/bin/Debug/netcoreapp3.1
/IdentityServer/obj
/IdentityServerAspNetIdentity/bin/Debug/netcoreapp3.1
/IdentityServerAspNetIdentity/obj
